<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Estilos/style_graficos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Estatisticas</title>
</head>
<body>

    <div class="title">
        <h1>Estatisticas <i class="fas fa-bar-chart"></i></h1>
    </div>

    <div class="separation">.</div>

    <div class="container-graficos">

        <div class="bar python" style="height: 80%;"><p>PYTHON: 80% <br><br> <i class="fab fa-python"></i> </p></div>
        <div class="bar java" style="height: 30%;"> <p>JAVA: 30% <br><br><i class="fab fa-java"></i></p></div>
        <div class="bar javascript" style="height: 30%;"><p>JAVASCRIPT: 30% <br><br> <i class="fab fa-js"></i></p></div>
        <div class="bar html" style="height: 90%;"> <p>HTML: 90%<br><br><i class="fab fa-html5"></i></p></div>
        <div class="bar css" style="height: 80%;"> <p> CSS: 80% <br><br> <i class="fab fa-css3"></i></p></div>

    </div>
    
</body>
</html>