<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio da Aplicao</title>
    <link rel="stylesheet" href="../Estilos/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

    <div class="hello-user" id="hello-user">
    </div>

    <div class="choice-container">
        
        <a href="" id = "lista_candidato"><button class="candidato">
            Lista de Empresas <p></p>
            <i class="fa-solid fa-user"></i>
        </button></a>

        <a href="" id="estatisticas_candidato"><button class="empresa">
            Lista de Vagas <p></p>
            <i class="fas fa-bar-chart"></i>
        </button></a>

        <a href="" id="Matchs"><button class="empresa">
            Matchs <br>🥵<p></p>
        </button></a>

    </div>

    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const username = urlParams.get('username');

        console.log(username);

        document.getElementById("lista_candidato").href = "../Listas/empresa_lista.html?username=" + username;
        document.getElementById("estatisticas_candidato").href = "../Listas/vaga_lista.html?username=" + username;
        document.getElementById("Matchs").href = "../Listas/candidatoMatch.html?username=" + username;

    </script>

    <script type="module" src="../../control/JavaScript/candidatoHub.js"></script>
</body>
</html>