<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="style_form.css">
    <title>Cadastro - Candidato</title>
</head>
<body>
    <div class="container form">
        <div class="container-title">
            <h3>Empresa <i class="fa-solid fa-building"></i></i></h3> 
        </div>
        <label>Nome  <i class="fas fa-user"></i></label><input type="text" name="Nome" id="Nome">
        <label>Email Corporativo  <i class="fas fa-envelope"></i></label><input type="email" name="Email-corp" id="Email-corp">
        <label>CNPJ  <i class="fas fa-id-card"></i> </label><input type="text" name="CNPJ" id="CNPJ">
        <label>Pais  <i class="fas fa-map-marker-alt"></i></label><input type="text" name="Pais" id="Pais">
        <label>CEP  <i class="fas fa-map-marker-alt"></i></label><input type="text" name="CEP" id="CEP">
        <label>Senha <i class="fas fa-lock"></i></label><input type="password" name="Email" id="password">
        <label>Descrição da Empresa  <i class="fas fa-info-circle"></i></label><textarea name="descPessoal" id="descPessoal" cols="30" rows="10"></textarea>
        <br>
        <a href="empresa_hub.html"><button type="button" onclick="adicionarEmpresa()">Cadastrar</button></a>

    </div>
    <script src="../control/JavaScript/cadastraEmpresa.js"></script>
</body>
</html>