@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

body{
    background-color: #1B1464;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.choice-container{
    display: flex;
    margin-bottom: 30px;
    gap: 10px;
}


body button{
    margin: 0;
    height: 250px;
    width: 100px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    font-size: medium;
    transition: background-color 0.3s ease;
}

button.candidato{
    background-color: #FC427B;
    color: #EAB543;
}

.choice-container button:hover{
    background-color: azure;
    color: slateblue;
}

button.empresa{
    background-color: #FC427B;
    color: #EAB543;
}