<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../Estilos/style_form.css">
    <title>Cadastro - Candidato</title>
</head>
<body style="height: 100vh;">
    <div class="container form">
        <div class="container-title">
            <h3>Cadastro Vaga <i class="fa-brands fa-wpforms"></i></h3> 
        </div>
        <label>Nome da vaga <i class="fas fa-user"></i></label><input type="text" name="Nome" id="Nome">
        <label>Skills  <i class="fas fa-trophy"></i></label><input type="text" name="comp" id="Skills">
        <label>Descrição da vaga  <i class="fas fa-info-circle"></i></label><textarea name="descPessoal" id="Desc" cols="30" rows="10"></textarea>
        <br>
        <button type="button" id="cadastrarVaga">Enviar</button>
        

    </div>

    <script type="module" src="../../control/JavaScript/GoogleSheetDataBase.js"></script>
    <script type="module" src="../../control/JavaScript/cadastrarVaga.js"></script>
    
</body>
</html>