<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Estilos/style_lista.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Document</title>
</head>
<body>

    <div class="barra-pesquisa">
        <label >Pesquisar Empresa</label>
        <input type="text" name="pesquisa" id="pesquisa">
        <button type="button"><i class="fas fa-search search-icon"></i></button>
    </div>

    <div class="lista container" id = "lista">
         

    </div>
    
    <script type="module" src="../../control/JavaScript/GoogleSheetDataBase.js"></script>
    <script type="module" src="../../control/JavaScript/listaEmpresa.js"></script>

</body>
</html>