<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../Estilos/style_form.css">
    <title>Cadastro - Candidato</title>
</head>
<body style="height: 100vh;">
    <div class="container form">
        <div class="container-title">
            <h3>Login Candiato <i class="fa-solid fa-user"></i></h3> 
        </div>
        <label>CPF  <i class="fas fa-user"></i></label><input type="text" name="CNPJ" id="CNPJ">
        <label>Senha <i class="fas fa-lock"></i></label><input type="password" name="Senha" id="Senha">
        <br>
        <button type="button" id="logar">Logar</button>
        

    </div>

    <script type="module" src="../../control/JavaScript/logarCandidato.js"></script>
    
</body>
</html>